ipython==8.12.3
ipython==8.25.0
kagglehub==1.0.0
matplotlib==3.8.4
numpy==2.4.4
pandas==3.0.2
Pillow==12.2.0
protobuf==7.34.1
scikit_learn==1.4.2
tensorflow==2.16.1
tensorflow_intel==2.16.1
tensorflowjs==4.22.0
